<!doctype html>
<html lang="en">
     <head>
         <link href="style.css" rel="stylesheet">
     </head>
        <body>
            <div class="head">
                
               <div class="logo">
                  <div class="urban">urban</div> 
                  <div class="temp">by TEMPLATED</div>

               </div>

               <div class="menu">
                   <a href="#">Home</a>
                   <a href="#">Contact</a>
                   <a href="#">About Us</a>
               </div>


               <div class="banner">
                   <span class="banner-main">This is Urban</span>
                   <span class="banner-sub">Aliquam libero augue varius non odio nec faucibus congue<br/>
                        felis quisque a diam rutrum tempus massa accumsan faucibus purus.</span>
               </div>
               <a class="btn" href="#">Learn More</a>
            </div>

            <div class="info">
                <div class="image-logo">
                <img src="https://bit.ly/2JmxpVe" alt="logo" class="img">
                </div>
                <div class="main-info">
                    <h1 class="heading">Maecenas a gravida quam</h1>

                    <p class="para1">Etiam posuere hendrerit arcu, ac blandit nulla. 
                        Sed congue malesuada nibh, a varius odio vehicula aliquet. 
                    Aliquam consequat, nunc quis sollicitudin aliquet, enim magna cursus auctor lacinia nunc ex blandit augue. 
                    Ut vitae neque fermentum, luctus elit fermentum, porta augue. 
                    Nullam ultricies, turpis at fermentum iaculis, nunc justo dictum dui, non aliquet erat nibh non ex.</p>

                    <p class="para2">
                            Sed congue malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet, 
                            enim magna cursus auctor lacinia nunc ex blandit augue. Ut vitae neque fermentum, 
                            luctus elit fermentum, porta augue. 
                            Nullam ultricies, turpis at fermentum iaculis, nunc justo dictum dui, non aliquet erat nibh non ex.
                    </p>

                    <a href="#" class="btn-blue">Button</a>

                </div>
            </div>

    <div class="info2">


            <div class="sub-info">

                    <h1 class="heading2">Suspendisse quis massa vel justo</h1>
                    
                                        <p class="para3">Etiam posuere hendrerit arcu, ac blandit nulla. 
                                            Sed congue malesuada nibh, a varius odio vehicula aliquet. 
                                        Aliquam consequat, nunc quis sollicitudin aliquet, enim magna cursus auctor lacinia nunc ex blandit augue. 
                                        Ut vitae neque fermentum, luctus elit fermentum, porta augue. 
                                        Nullam ultricies, turpis at fermentum iaculis, nunc justo dictum dui, non aliquet erat nibh non ex.</p>
                    
                                        <p class="para4">
                                                Sed congue malesuada nibh, a varius odio vehicula aliquet. Aliquam consequat, nunc quis sollicitudin aliquet, 
                                                enim magna cursus auctor lacinia nunc ex blandit augue. Ut vitae neque fermentum, 
                                                luctus elit fermentum, porta augue. 
                                                Nullam ultricies, turpis at fermentum iaculis, nunc justo dictum dui, non aliquet erat nibh non ex.
                                        </p>

                                        <a href="#" class="btn-blue2">Button</a>

            </div>

             <div class="image-logo2">
                    <img src="https://bit.ly/2Jqi4Pc" alt="logo2" class="img2">
             </div>

    </div>

          
    <div class="footer">
            <h1 class="head2">Aliquam ipsum purus dolor</h1>

            <p class="sub-head">Cras sagittis turpis sit amet est tempus, sit amet consectetur purus tincidunt.</p>


      </div>

        </body>
    
</html>



























