*{
    margin:0;
    padding:0;
}

.header{
    background-color: rgb(44, 143, 255);
    height: 50%;
    width: 100%;
    clip-path:polygon(0 0, 100% 0, 100% 29%, 93% 29%, 92% 100%, 56% 100%, 55% 29%, 0 27%);
}

.header-intro{
    display: inline;
    text-decoration: none;
    color: rgb(250, 250, 250);
    margin-left: 50px;
}

.main-div{
    width: 100%;
    height: auto;
    float: left;
    background: #000000;
    color: #fff;
    padding: 15px 0px;
    margin-bottom: 30px;
}

.logo{
    height: 25%;
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    color: red;
}

.about{
    float: right;
    margin-right: 12px;
}

.about a{
    text-decoration: none;
    color: #fff;
    display: inline;
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 20px;
}

.image{
    width: 100%;
    background:url('https://bit.ly/2J5m3AV');
    /* height: 50vh; 
    margin-top: 60px;*/
    background-size: cover;
     /*position: relative;*/


}

.main{
    width: 100%;
    float: left;
    background-color:  rgb(44, 143, 255);
}


.sub-div1{
    height: 300px;
    width: 35%;
    background-color:  rgb(44, 143, 255);
    float: left;
}

.sub-div2{
    height: 300px;
    width: 30%;
    background-color: rgb(62, 91, 134);
    float: left;
}

.sub-div3{
    height: 300px;
    width: 35%;
    background-color:  rgb(44, 143, 255);
    float: left;
}

.Case1{
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 50px;
  text-align: center;
  margin-top: 10px;
}

.Case2{
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 50px;
    text-align: center;
    margin-top: 10px;
  }

.Case3{
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 50px;
    text-align: center;
    margin-top: 10px;
  }
  
.para1{
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 20px;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 4px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    line-height: 40px;
}

.para2{
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 20px;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 4px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    line-height: 40px;
}


.para3{
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 20px;
    text-align: center;
    margin-top: 10px;
    letter-spacing: 4px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    line-height: 40px;
}

.main-part{
    height: 80vh;
    width: 75%;
    background-color: black;
    float: left;
}

.sub-part{
    height: 80vh;
    width: 25%;
    background-color: red;
    float: left;
}

.wel-msg{
    color:   rgb(44, 143, 255);
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 40px;
    text-align: left;
    margin-left: 50px;
}

.main-head{
    height: 300px;
    width: 50%;
    background-color: yellow;
    /* padding-left: 50px;
    padding-top: 30px; */
    float: left;
}
.img_icon{
    float: left;
    vertical-align: middle;
    height: 120px;
}
.explain{
    color: white;
    font-size: 20px;
    font-weight: 30px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    text-align: right;
    word-wrap: break-word;
}



.news{
    color:   rgb(44, 143, 255);
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 40px;
    text-align: right;
    margin-right: 50px;
}









































